@import 'src/classes.scss';
@import 'src/cool.scss';

$my-var: red;
$text: 'Hi there';

html {
	head {
		link {
			-rel: "stylesheet";
			-href: "index.css";
		}
	}
	body {
		background: #f5f6f9;
		.container {
			background: #fff;
			width: 80rem;
			margin: auto;
			.navbar {
				display: flex;
				justify-content: space-between;
				.left {
					.nav-item {
						text: "Home";
					}
				}
				.right {
					.nav-item {
						text: "About";
					}
				}
			}
		}
	}
}

.nav-item {
	font-weight: bold;
}