@import 'src/classes.scss';
@import 'src/cool.scss';

$my-var: red;
$text: 'Hi there';

@mixin body {
	body {
		background: orange;
		div.blue { color: blue; }
		
		@include cool;
	
		a {
			-href: 'https://google.com';
			-aria-label: 'My awesome link to Google';
			text: 'a tag text';
	
			h1 {
				background: pink;
				text: "Inner HTML";
			}
		}
	
		.h1.my-awesome-class {
			font-size: 1rem;
			font-family: sans;
			text: $text;
			-title: 123;
		  
			small.h2 {
				color: $my-var;
				text: "Small text";
			}
		}
	}
}

html {
	head {
		link {
			-rel: "stylesheet";
			-href: "index.css";
		}
	}
	@include body;
}