$my-var: red;

body {
	background: orange;
	div.blue {
    	color: blue;  
  	}
  
  	.h1.my-awesome-class {
    	font-size: 1rem;
      	font-family: sans;
      
      	small.h2 {
        	color: $my-var;
      	}
  	}
}